<header class="d-flex align-items-center " >
	<div class="d-flex logo-content">
		<img src="{{ directory }}/assets/logo.jpeg" alt="">
		<div class="d-flex flex-column logo-text">
			<span> Creative  </span>
			<span class="c-primary" > Marketing  </span>
		</div>
	</div>

	<span class="flex-grow-1"></span>

	<div class="d-flex align-items-center ">
		<ul class="nav-links">
			{% set items = simplify_menu('menu-principal') %}
			{% for menu_item in items.menu_tree %}
			<li class="{{ menu_item.active ? 'active' : '' }}">
				<a href="{{ menu_item.url }}">
				{{ menu_item.text }}
				{% if menu_item.submenu %}
					<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="#F5B91D" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
						<path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
					</svg>
				{% endif %}
				</a>
			</li>
			{% endfor %}
		</ul>
		
	</div>
	<button class="bt-search mx-4">
		<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
			<path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
		</svg>
	</button>
</header>